.jumbotron
  %h1.text-center
    = icon("database")
    BaitaiDB
  %p.text-center
    The media tracker that anyone can edit.
  .register
    .text-center
      %a{ class: "btn btn-default", href: "#" }
        Register with social login
      %a{ class: "btn btn-primary", href: "#" }
        Register with email
    .text-center
      %small
        Already have an account?
        %a{ href: "#" }
          Sign in

.row
  .col-md-4
    %h3
      = icon("tasks")
      Media Tracking
    %p
      BaitaiDB makes it easy to record, track, and share your favourite
      media - be it movies, TV shows, books, and more - all in one place.
    %p
      Designed for the mobile web, BaitaiDB is the only tool you will need
      to track your media.  No more 3rd-party applications to access your
      data; BaitaiDB is available on all of your devices through your
      preferred browser.
  .col-md-4
    %h3
      = icon("retweet")
      Updates
    %p
      Want to be reminded when the next installment of your favourite series
      is released?  BaitaiDB makes it simple to set reminders for
      individual media, whole media types, or your entire list.
    %p
      And we'll send you email updates to keep you in the loop, no matter
      where you are.
  .col-md-4
    %h3
      = icon("pencil")
      User Reviews
    %p
      Absolutely loved that movie you just watched? Think that top
      best-seller is over-priced?  Let the community know by writing a review!
    %p
      Explore reviews and ratings from the community to find out what
      people are talking about.  Browse popular media by category, ratings,
      user votes, and more.
.row
  .col-md-4
    %h3
      = icon("slack")
      Media Organization
    %p
      Whether you already have a massive media collection or are just
      starting out, BaitaiDB makes it easy to organize your collection.
    %p
      Sort and search your entire collection using detailed, editable
      tags, or create your own custom tag organization system.
  .col-md-4
    %h3
      = icon("gears")
      User Customization
    %p
      Customize list layouts and display information to highlight whatever
      is most important to you.
    %p
      The minimal UI shows all the information that is important
      to you at a glance, but also enables easy ways to see complete media
      information.
  .col-md-4
    %h3
      = icon("code-fork")
      Community Editing
    %p
      Inspired by the success of community-driven, collaborative efforts like
      Wikipedia and GitHub, BaitaiDB relies on the community for the latest
      information to keep entries up to date.
    %p
      Contribute to editing media information, staff, character bios, and more.
      Help improve entries by contributing to the community-maintained database.
